<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
</head>
<body>
  <div class="wrapper d-flex flex-column justify-content-center align-items-center p-5 m-5"> 
    <div class="title">
      <h1 class="display-1 mb-4">URL Shortener</h1>
    </div>
    <div class="pic">
      <img src="https://image.flaticon.com/icons/png/512/2199/2199919.png" alt=""> 
    </div>
    <div class="main-section mb-5">
  
  {{{body}}}
  
    </div>
  
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>