<div class="newURL d-flex flex-column align-items-center">
{{#if isNew}}
<h1 class="display-4 mt-4">
  Success! Please use this link:
</h1>
{{/if}}
{{#if isExist}}
<h1 class="display-5 mt-4 text-danger animate__animated animate__shakeX">
  Your URL is exist! Please use this link:
</h1>
{{/if}}
<a class="mt-3 h2" href="{{ originURL }}">{{ baseURL }}</a>

<div class="button d-flex mt-3">
<button type="button" class="mr-3 btn btn-primary">COPY</button>
<a href="/" type="button" class="btn btn-success">Back</a>

</div>

</div>
